{% extends 'base.html' %}
{% block content %}
    <h1>{{ event.name }}</h1>
    <p>Category: {{ event.categoryy_id }}</p>
    <p>Price:{{ event.price }}$</p>
    <p>Tickets available:{{ event.tickets_available }}/{{ event.max_tickets }}  </p>


    <div class="col-md-3">
    {% csrf_token %}
        <input type="hidden" value="{{ event.id }}" class="event_id">
        <label for="quantity">Quantity</label>
        <div class="input-group text-center mb-3" style="width: 130px">
            <input type="text" name="quantity" class="form-control qty-input text-center" value="1">
        </div>
        <button type="button" class="btn btn-primary me-3 float-start BookEventBtn">Book Event</button>
    </div>
    <a href="{% url 'update_event' event.id %}" class="block btn-primary">Update event</a>
    <a href="{% url 'delete_event' event.id %}" class="block btn-primary">Delete event</a>

{% endblock %}