{% extends 'base.html' %}
{% block content %}
    <h1>{{ event.name }}</h1>
    <p>Description: {{ event.description }}</p>
    <p>Category: {{ event.categoryy }}</p>
    <p>Image:</p>
    <img src="{{ event.image }}" class="profile-image"/>
    <p>Location: {{ event.location }}</p>
    <p>Starts: {{ event.start_date }}</p>
    <p>Ends: {{ event.end_date }}</p>
    <p>Price:{{ event.price }}$</p>
    <p>Tickets available:{{ event.tickets_available }}/{{ event.max_tickets }}  </p>
    <p>List of similar events: {% for event in similar_events %} {{ event }} {% endfor %}</p>



    <a href="{% url 'booking' %}" class="block btn-primary">Book event</a>
{% endblock %}