{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class = "column">
        <h1 class="red">Events</h1>
        <div class="columnSubDiv">
             <div class="columnSubSubElement">
                 <input type="search" class="columnSubSubElement" id="search-box2" placeholder="Enter your search here...">
             </div>
             <div class="input-group-btn">
                 <button type="button" id="search-btn" class="btn btn-outline-secondary" >Search</button>
             </div>
        </div>
    </div>
    <div class="column">
        <h1>Categories</h1>
        <div class="columnSubDiv">
            <div class="columnSubSubElement">
                <span id="allCategories">All categories</span>
                <input class="form-check-input" id="categoryBtn" type="radio" name="category" checked="checked" dataCategory="0">
                {% for category in categories %} {{ category }}
                    <input class="form-check-input"  id="categoryBtn" type="radio" name="category" dataCategory="{{category.id}}">
                {% endfor %}
            </div>
            <div class="input-group-btn">
                <button type="submit" id="catSearch1" class="btn btn-default" method = 'GET' onclick="getvalues()">Submit</button>
            </div>
        </div>
    </div>
</div>


    <div class="events" id="eventsDiv">
        {% for event in events %}
        {% include 'events/single_event.html' with event=event %}
        {% endfor %}
    </div>

{% endblock %}


