{% extends 'base.html' %}
{% block content %}
    <h1 class="red">Events</h1>
    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Enter your search here...">
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-outline-secondary">Search</button>
        </div>
    </div>
    <div>
    <h3>Categories</h3>
    <div class="form-check">
        <table id="tab1">
            <tr>
                <td> {% for category in categories %} {{ category }}
                    <input class="form-check-input" type="checkbox" name="category">
                    {% endfor %}
                </td>
            </tr>

            </table>
        <div class="input-group-btn">

            <button type="submit" id="but1" class="btn btn-default" onclick="getvalues()">Submit</button>
            <b> id="displayvalues" </b>
        </div>

    </div>

    <div class="events">
        {% for event in events %}
            {% include 'events/single_event.html' with event=event %}
        {% endfor %}
    </div>
        </div>

{% endblock %}


